<section id="content" style="margin-bottom: 0px;">

			<div class="content-wrap">

				<div class="container clearfix">

					<!-- Portfolio Filter
					============================================= -->
					<ul class="portfolio-filter clearfix" data-container="#portfolio">

						<li class="activeFilter"><a href="#" data-filter="*">Show All</a></li>
						<li><a href="#" data-filter=".pf-icons">Catering</a></li>
						<li><a href="#" data-filter=".pf-illustrations">Tents & Accessories</a></li>
						<li><a href="#" data-filter=".pf-uielements">Entertainers</a></li>
						<li><a href="#" data-filter=".pf-media">Kids Entertainment</a></li>
						<li><a href="#" data-filter=".pf-graphics">Production</a></li>

					</ul><!-- #portfolio-filter end -->

					<div class="portfolio-shuffle" data-container="#portfolio">
						<i class="icon-random"></i>
					</div>

					<div class="clear"></div>

					<!-- Portfolio Items
					============================================= -->
					<div id="portfolio" class="portfolio grid-container clearfix" style="position: relative; height: 1112.95px;">

						<article class="portfolio-item pf-media pf-icons" style="position: absolute; left: 487.986px; top: 556.475px;">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="{% static images/portfolio/4/1.jpg %}" alt="Open Imagination">
								</a>
								<div class="portfolio-overlay">
									<a href="{% static images/portfolio/full/1.jpg %}" class="left-icon" data-lightbox="image" title="IMage"><i class="icon-line-plus"></i></a>
									<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single.html">Catering</a></h3>
								<span><a href="#">Catering</a></span>
							</div>
						</article>

						<article class="portfolio-item pf-illustrations" style="position: absolute; left: 487.986px; top: 294.722px;">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="{% static images/portfolio/4/2.jpg %}" alt="Locked Steel Gate">
								</a>
								<div class="portfolio-overlay">
									<a href="{% static images/portfolio/full/2.jpg %}" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single.html">Corporate Event Catering</a></h3>
								<span><a href="#">Catering</a></span>
							</div>
						</article>

						<article class="portfolio-item pf-graphics pf-uielements" style="position: absolute; left: 243.993px; top: 785.242px;">
							<div class="portfolio-image">
								<a href="#">
									<img src="images/portfolio/4/3.jpg" alt="Mac Sunglasses">
								</a>
								<div class="portfolio-overlay">
									<a href="http://vimeo.com/89396394" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
									<a href="portfolio-single-video.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single-video.html">Mac Sunglasses</a></h3>
								<span><a href="#">Graphics</a>, <a href="#">UI Elements</a></span>
							</div>
						</article>

						<article class="portfolio-item pf-icons pf-illustrations" style="position: absolute; left: 0px; top: 261.753px;">
							<div class="portfolio-image">
								<div class="fslider" data-arrows="false" data-speed="400" data-pause="4000">
									<div class="flexslider">

									<div class="flex-viewport" style="overflow: hidden; position: relative; height: 206.979px;"><div class="slider-wrap" style="width: 800%; transition-duration: 0s; transform: translate3d(-463.994px, 0px, 0px);"><div class="slide clone" aria-hidden="true" style="width: 231.997px; margin-right: 0px; float: left; display: block;"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/4-1.jpg" alt="Morning Dew" draggable="false"></a></div>
											<div class="slide" style="width: 231.997px; margin-right: 0px; float: left; display: block;" data-thumb-alt=""><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/4.jpg" alt="Morning Dew" draggable="false"></a></div>
											<div class="slide flex-active-slide" data-thumb-alt="" style="width: 231.997px; margin-right: 0px; float: left; display: block;"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/4-1.jpg" alt="Morning Dew" draggable="false"></a></div>
										<div class="slide clone" style="width: 231.997px; margin-right: 0px; float: left; display: block;" aria-hidden="true"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/4.jpg" alt="Morning Dew" draggable="false"></a></div></div></div><ol class="flex-control-nav flex-control-paging"><li><a href="#" class="">1</a></li><li><a href="#" class="flex-active">2</a></li></ol></div>
								</div>
								<div class="portfolio-overlay" data-lightbox="gallery">
									<a href="images/portfolio/full/4.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
									<a href="images/portfolio/full/4-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
									<a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single-gallery.html">Morning Dew</a></h3>
								<span><a href="#">Icons</a>, <a href="#">Illustrations</a></span>
							</div>
						</article>

						<article class="portfolio-item pf-uielements pf-media" style="position: absolute; left: 0px; top: 556.475px;">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="images/portfolio/4/5.jpg" alt="Console Activity">
								</a>
								<div class="portfolio-overlay">
									<a href="images/portfolio/full/5.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single.html">Console Activity</a></h3>
								<span><a href="#">UI Elements</a>, <a href="#">Media</a></span>
							</div>
						</article>

						<article class="portfolio-item pf-graphics pf-illustrations" style="position: absolute; left: 487.986px; top: 0px;">
							<div class="portfolio-image">
								<div class="fslider" data-arrows="false">
									<div class="flexslider">

									<div class="flex-viewport" style="overflow: hidden; position: relative; height: 206.979px;"><div class="slider-wrap" style="width: 1200%; transition-duration: 0s; transform: translate3d(-695.991px, 0px, 0px);"><div class="slide clone" aria-hidden="true" style="width: 231.997px; margin-right: 0px; float: left; display: block;"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/6-3.jpg" alt="Shake It" draggable="false"></a></div>
											<div class="slide" style="width: 231.997px; margin-right: 0px; float: left; display: block;" data-thumb-alt=""><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/6.jpg" alt="Shake It" draggable="false"></a></div>
											<div class="slide" data-thumb-alt="" style="width: 231.997px; margin-right: 0px; float: left; display: block;"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/6-1.jpg" alt="Shake It" draggable="false"></a></div>
											<div class="slide flex-active-slide" data-thumb-alt="" style="width: 231.997px; margin-right: 0px; float: left; display: block;"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/6-2.jpg" alt="Shake It" draggable="false"></a></div>
											<div class="slide" data-thumb-alt="" style="width: 231.997px; margin-right: 0px; float: left; display: block;"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/6-3.jpg" alt="Shake It" draggable="false"></a></div>
										<div class="slide clone" style="width: 231.997px; margin-right: 0px; float: left; display: block;" aria-hidden="true"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/6.jpg" alt="Shake It" draggable="false"></a></div></div></div><ol class="flex-control-nav flex-control-paging"><li><a href="#" class="">1</a></li><li><a href="#" class="">2</a></li><li><a href="#" class="flex-active">3</a></li><li><a href="#" class="">4</a></li></ol></div>
								</div>
								<div class="portfolio-overlay" data-lightbox="gallery">
									<a href="images/portfolio/full/6.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
									<a href="images/portfolio/full/6-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
									<a href="images/portfolio/full/6-2.jpg" class="hidden" data-lightbox="gallery-item"></a>
									<a href="images/portfolio/full/6-3.jpg" class="hidden" data-lightbox="gallery-item"></a>
									<a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single-gallery.html">Shake It!</a></h3>
								<span><a href="#">Illustrations</a>, <a href="#">Graphics</a></span>
							</div>
						</article>

						<article class="portfolio-item pf-uielements pf-icons" style="position: absolute; left: 0px; top: 0px;">
							<div class="portfolio-image">
								<a href="portfolio-single-video.html">
									<img src="images/portfolio/4/7.jpg" alt="Backpack Contents">
								</a>
								<div class="portfolio-overlay">
									<a href="http://www.youtube.com/watch?v=kuceVNBTJio" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
									<a href="portfolio-single-video.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single-video.html">Backpack Contents</a></h3>
								<span><a href="#">UI Elements</a>, <a href="#">Icons</a></span>
							</div>
						</article>

						<article class="portfolio-item pf-graphics" style="position: absolute; left: 243.993px; top: 0px;">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="images/portfolio/4/8.jpg" alt="Sunset Bulb Glow">
								</a>
								<div class="portfolio-overlay">
									<a href="images/portfolio/full/8.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single.html">Sunset Bulb Glow</a></h3>
								<span><a href="#">Graphics</a></span>
							</div>
						</article>

						<article class="portfolio-item pf-illustrations pf-icons" style="position: absolute; left: 243.993px; top: 523.506px;">
							<div class="portfolio-image">
								<div class="fslider" data-arrows="false" data-speed="650" data-pause="3500" data-animation="fade">
									<div class="flexslider" style="height: 173.993px;">
										<div class="slider-wrap">
											<div class="slide flex-active-slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/9.jpg" alt="Bridge Side" draggable="false"></a></div>
											<div class="slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/9-1.jpg" alt="Bridge Side" draggable="false"></a></div>
											<div class="slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/9-2.jpg" alt="Bridge Side" draggable="false"></a></div>
										</div>
									<ol class="flex-control-nav flex-control-paging"><li><a href="#" class="flex-active">1</a></li><li><a href="#" class="">2</a></li><li><a href="#" class="">3</a></li></ol></div>
								</div>
								<div class="portfolio-overlay" data-lightbox="gallery">
									<a href="images/portfolio/full/9.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
									<a href="images/portfolio/full/9-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
									<a href="images/portfolio/full/9-2.jpg" class="hidden" data-lightbox="gallery-item"></a>
									<a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single.html">Bridge Side</a></h3>
								<span><a href="#">Illustrations</a>, <a href="#">Icons</a></span>
							</div>
						</article>

						<article class="portfolio-item pf-graphics pf-media pf-uielements" style="position: absolute; left: 243.993px; top: 261.753px;">
							<div class="portfolio-image">
								<a href="portfolio-single-video.html">
									<img src="images/portfolio/4/10.jpg" alt="Study Table">
								</a>
								<div class="portfolio-overlay">
									<a href="http://vimeo.com/91973305" class="left-icon" data-lightbox="iframe"><i class="icon-line-play"></i></a>
									<a href="portfolio-single-video.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single-video.html">Study Table</a></h3>
								<span><a href="#">Graphics</a>, <a href="#">Media</a></span>
							</div>
						</article>

						<article class="portfolio-item pf-media pf-icons" style="position: absolute; left: 487.986px; top: 818.228px;">
							<div class="portfolio-image">
								<a href="portfolio-single.html">
									<img src="images/portfolio/4/11.jpg" alt="Workspace Stuff">
								</a>
								<div class="portfolio-overlay">
									<a href="images/portfolio/full/11.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a>
									<a href="portfolio-single.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single.html">Workspace Stuff</a></h3>
								<span><a href="#">Media</a>, <a href="#">Icons</a></span>
							</div>
						</article>

						<article class="portfolio-item pf-illustrations pf-graphics" style="position: absolute; left: 0px; top: 818.228px;">
							<div class="portfolio-image">
								<div class="fslider" data-arrows="false" data-speed="700" data-pause="7000">
									<div class="flexslider">

									<div class="flex-viewport" style="overflow: hidden; position: relative; height: 206.979px;"><div class="slider-wrap" style="width: 800%; transition-duration: 0s; transform: translate3d(-231.997px, 0px, 0px);"><div class="slide clone" aria-hidden="true" style="width: 231.997px; margin-right: 0px; float: left; display: block;"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/12-1.jpg" alt="Fixed Aperture" draggable="false"></a></div>
											<div class="slide flex-active-slide" style="width: 231.997px; margin-right: 0px; float: left; display: block;" data-thumb-alt=""><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/12.jpg" alt="Fixed Aperture" draggable="false"></a></div>
											<div class="slide" data-thumb-alt="" style="width: 231.997px; margin-right: 0px; float: left; display: block;"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/12-1.jpg" alt="Fixed Aperture" draggable="false"></a></div>
										<div class="slide clone" style="width: 231.997px; margin-right: 0px; float: left; display: block;" aria-hidden="true"><a href="portfolio-single-gallery.html"><img src="images/portfolio/4/12.jpg" alt="Fixed Aperture" draggable="false"></a></div></div></div><ol class="flex-control-nav flex-control-paging"><li><a href="#" class="flex-active">1</a></li><li><a href="#" class="">2</a></li></ol></div>
								</div>
								<div class="portfolio-overlay" data-lightbox="gallery">
									<a href="images/portfolio/full/12.jpg" class="left-icon" data-lightbox="gallery-item"><i class="icon-line-stack-2"></i></a>
									<a href="images/portfolio/full/12-1.jpg" class="hidden" data-lightbox="gallery-item"></a>
									<a href="portfolio-single-gallery.html" class="right-icon"><i class="icon-line-ellipsis"></i></a>
								</div>
							</div>
							<div class="portfolio-desc">
								<h3><a href="portfolio-single-gallery.html">Fixed Aperture</a></h3>
								<span><a href="#">Illustrations</a>, <a href="#">Graphics</a></span>
							</div>
						</article>

					</div><!-- #portfolio end -->

				</div>

			</div>

		</section>



    <div class="container clearfix">

    					<div id="processTabs" class="ui-tabs ui-corner-all ui-widget ui-widget-content">
    						<ul class="process-steps bottommargin clearfix ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header" role="tablist">
    							<li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="ptab1" aria-labelledby="ui-id-1" aria-selected="false" aria-expanded="false">
    								<a href="#ptab1" class="i-circled i-bordered i-alt divcenter ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">1</a>
    								<h5>Review Cart</h5>
    							</li>
    							<li role="tab" tabindex="0" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active" aria-controls="ptab2" aria-labelledby="ui-id-2" aria-selected="true" aria-expanded="true">
    								<a href="#ptab2" class="i-circled i-bordered i-alt divcenter ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">2</a>
    								<h5>Enter Shipping Info</h5>
    							</li>
    							<li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="ptab3" aria-labelledby="ui-id-3" aria-selected="false" aria-expanded="false">
    								<a href="#ptab3" class="i-circled i-bordered i-alt divcenter ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-3">3</a>
    								<h5>Complete Payment</h5>
    							</li>
    							<li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="ptab4" aria-labelledby="ui-id-4" aria-selected="false" aria-expanded="false">
    								<a href="#ptab4" class="i-circled i-bordered i-alt divcenter ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-4">4</a>
    								<h5>Order Complete</h5>
    							</li>
    						</ul>
    						<div>
    							<div id="ptab1" aria-labelledby="ui-id-1" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content" aria-hidden="true" style="display: none;">

    								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, ipsa, fuga, modi, corporis maiores illum fugit ratione cumque dolores sint obcaecati quod temporibus. Expedita, sapiente, veritatis, impedit iusto labore sed itaque sunt fugiat non quis nihil hic quos necessitatibus officiis mollitia nesciunt neque! Minus, mollitia at iusto unde voluptate repudiandae.</p>

    								<div class="table-responsive">
    									<table class="table cart">
    										<thead>
    											<tr>
    												<th class="cart-product-remove">&nbsp;</th>
    												<th class="cart-product-thumbnail">&nbsp;</th>
    												<th class="cart-product-name">Product</th>
    												<th class="cart-product-price">Unit Price</th>
    												<th class="cart-product-quantity">Quantity</th>
    												<th class="cart-product-subtotal">Total</th>
    											</tr>
    										</thead>
    										<tbody>
    											<tr class="cart_item">
    												<td class="cart-product-remove">
    													<a href="#" class="remove" title="Remove this item"><i class="icon-trash2"></i></a>
    												</td>

    												<td class="cart-product-thumbnail">
    													<a href="#"><img width="64" height="64" src="images/shop/thumbs/small/dress-3.jpg" alt="Pink Printed Dress"></a>
    												</td>

    												<td class="cart-product-name">
    													<a href="#">Pink Printed Dress</a>
    												</td>

    												<td class="cart-product-price">
    													<span class="amount">$19.99</span>
    												</td>

    												<td class="cart-product-quantity">
    													<div class="quantity clearfix">
    														<input type="button" value="-" class="minus">
    														<input type="text" step="1" min="1" name="quantity" value="1" title="Qty" class="qty" size="4">
    														<input type="button" value="+" class="plus">
    													</div>
    												</td>

    												<td class="cart-product-subtotal">
    													<span class="amount">$19.99</span>
    												</td>
    											</tr>
    											<tr class="cart_item">
    												<td class="cart-product-remove">
    													<a href="#" class="remove" title="Remove this item"><i class="icon-trash2"></i></a>
    												</td>

    												<td class="cart-product-thumbnail">
    													<a href="#"><img width="64" height="64" src="images/shop/thumbs/small/shoes-2.jpg" alt="Checked Canvas Shoes"></a>
    												</td>

    												<td class="cart-product-name">
    													<a href="#">Checked Canvas Shoes</a>
    												</td>

    												<td class="cart-product-price">
    													<span class="amount">$24.99</span>
    												</td>

    												<td class="cart-product-quantity">
    													<div class="quantity clearfix">
    														<input type="button" value="-" class="minus">
    														<input type="text" step="1" min="1" name="quantity" value="1" title="Qty" class="qty" size="4">
    														<input type="button" value="+" class="plus">
    													</div>
    												</td>

    												<td class="cart-product-subtotal">
    													<span class="amount">$24.99</span>
    												</td>
    											</tr>
    										</tbody>

    									</table>
    								</div>

    								<a href="#" class="button button-3d nomargin fright tab-linker" rel="2">Checkout ⇒</a>

    							</div>
    							<div id="ptab2" aria-labelledby="ui-id-2" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content" aria-hidden="false" style="">
    								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt, deleniti, atque soluta ratione blanditiis maxime at architecto laudantium eius eaque distinctio dolorem voluptatem nam ab molestias velit nemo. Illo, hic.</p>
    								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, modi, odit, aspernatur veritatis ipsum molestiae impedit iusto blanditiis voluptatem ab voluptas ullam expedita repellendus porro assumenda non deserunt repellat eius rem dolorem corporis temporibus voluptatibus ut! Quod, corporis, tempora, dolore, sint earum minus deserunt eveniet natus error magnam aliquam nemo.</p>
    								<div class="line"></div>
    								<a href="#" class="button button-3d nomargin tab-linker" rel="1">Previous</a>
    								<a href="#" class="button button-3d nomargin fright tab-linker" rel="3">Pay Now</a>
    							</div>
    							<div id="ptab3" aria-labelledby="ui-id-3" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content" aria-hidden="true" style="display: none;">
    								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, sit, culpa, placeat, tempora quibusdam molestiae cupiditate atque tempore nemo tenetur facere voluptates autem aliquid provident distinctio beatae odio maxime pariatur eos ratione quae itaque quod. Distinctio, temporibus, cupiditate, eaque vero illo molestiae vel doloremque dolorum repellat ullam possimus modi dicta eum debitis ratione est in sunt et corrupti adipisci quibusdam praesentium optio laborum tempora ipsam aut cum consectetur veritatis dolorem.</p>
    								<div class="line"></div>
    								<a href="#" class="button button-3d nomargin tab-linker" rel="2">Previous</a>
    								<a href="#" class="button button-3d nomargin fright tab-linker" rel="4">Complete Order</a>
    							</div>
    							<div id="ptab4" aria-labelledby="ui-id-4" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content" aria-hidden="true" style="display: none;">
    								<div class="alert alert-success">
    									<strong>Thank You.</strong> Your order will be processed once we verify the Payment.
    								</div>
    							</div>
    						</div>
    					</div>

    					<div class="clear"></div>

    					<div class="divider divider-center"><i class="icon-circle"></i></div>

    					<h3 class="center">Process Steps Variations</h3>

    					<ul class="process-steps process-2 bottommargin clearfix">
    						<li class="active">
    							<a href="#" class="i-circled i-alt divcenter bgcolor">1</a>
    							<h5>Complete Payment</h5>
    						</li>
    						<li>
    							<a href="#" class="i-bordered i-circled divcenter icon-download-alt"></a>
    							<h5>Download File</h5>
    						</li>
    					</ul>

    					<div class="line d-block d-md-none"></div>

    					<ul class="process-steps process-3 bottommargin clearfix">
    						<li>
    							<a href="#" class="i-bordered i-rounded divcenter">1</a>
    							<h5>Review Cart</h5>
    						</li>
    						<li class="active">
    							<a href="#" class="i-rounded i-alt divcenter bgcolor">2</a>
    							<h5>Complete Payment</h5>
    						</li>
    						<li>
    							<a href="#" class="i-bordered i-rounded divcenter">3</a>
    							<h5>Order Complete</h5>
    						</li>
    					</ul>

    					<div class="line d-block d-md-none"></div>

    					<ul class="process-steps bottommargin clearfix">
    						<li>
    							<a href="#" class="i-circled i-alt divcenter">1</a>
    							<h5>Review Cart</h5>
    						</li>
    						<li>
    							<a href="#" class="i-circled i-alt divcenter">2</a>
    							<h5>Enter Shipping Info</h5>
    						</li>
    						<li class="active">
    							<a href="#" class="i-circled i-alt divcenter bgcolor">3</a>
    							<h5>Complete Payment</h5>
    						</li>
    						<li>
    							<a href="#" class="i-circled i-alt divcenter">4</a>
    							<h5>Order Complete</h5>
    						</li>
    					</ul>

    					<div class="line d-block d-md-none"></div>

    					<ul class="process-steps process-5 clearfix">
    						<li>
    							<a href="#" class="i-bordered i-circled divcenter icon-shopping-cart"></a>
    							<h5>Review Cart</h5>
    						</li>
    						<li>
    							<a href="#" class="i-bordered i-circled divcenter icon-pencil2"></a>
    							<h5>Enter Shipping Info</h5>
    						</li>
    						<li>
    							<a href="#" class="i-bordered i-circled divcenter icon-money"></a>
    							<h5>Enter Billing Info</h5>
    						</li>
    						<li class="active">
    							<a href="#" class="i-circled i-alt divcenter bgcolor icon-like"></a>
    							<h5>Complete Payment</h5>
    						</li>
    						<li>
    							<a href="#" class="i-bordered i-circled divcenter icon-ok"></a>
    							<h5>Order Complete</h5>
    						</li>
    					</ul>

    				</div>
