{% extends "base.html" %}
{% load bootstrap3 %}
{% block content %}

<section id="content" style="margin-bottom: 0px;">

			<div class="content-wrap">

				<div class="container clearfix">
          {% if registered %}
            <h1>Thank you for registering!</h1>
          {% else %}
            <h1>Vendor Registration Form</h1>
            <form enctype="multipart/form-data" method="POST">
              {% csrf_token %}
    					<div id="processTabs" class="ui-tabs ui-corner-all ui-widget ui-widget-content">
    						<ul class="process-steps bottommargin clearfix ui-tabs-nav ui-corner-all ui-helper-reset ui-helper-clearfix ui-widget-header" role="tablist">

                  <li role="tab" tabindex="0" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab ui-tabs-active ui-state-active" aria-controls="ptab1" aria-labelledby="ui-id-1" aria-selected="true" aria-expanded="true">
    								<a href="#ptab1" class="i-circled i-bordered i-alt divcenter ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-1">1</a>
    								<h5>Vendor Info</h5>
    							</li>

                  <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="ptab2" aria-labelledby="ui-id-2" aria-selected="false" aria-expanded="false">
    								<a href="#ptab2" class="i-circled i-bordered i-alt divcenter ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-2">2</a>
    								<h5>Extra Vendor Infor</h5>
    							</li>

                  <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="ptab3" aria-labelledby="ui-id-3" aria-selected="false" aria-expanded="false">
    								<a href="#ptab3" class="i-circled i-bordered i-alt divcenter ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-3">3</a>
    								<h5>Finish Registration</h5>
    							</li>

                  <li role="tab" tabindex="-1" class="ui-tabs-tab ui-corner-top ui-state-default ui-tab" aria-controls="ptab4" aria-labelledby="ui-id-4" aria-selected="false" aria-expanded="false">
    								<a href="#ptab4" class="i-circled i-bordered i-alt divcenter ui-tabs-anchor" role="presentation" tabindex="-1" id="ui-id-4">4</a>
    								<h5>Registration Complete</h5>
    							</li>
    						</ul>
    						<div>
    							<div id="ptab1" aria-labelledby="ui-id-1" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content" aria-hidden="false">
                    <p>{{ user_form.as_p }}</p>
    								<a href="#" class="button button-3d nomargin fright tab-linker" rel="2">Next ⇒</a>
    							</div>

  							<div id="ptab2" aria-labelledby="ui-id-2" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content" aria-hidden="true" style="display: none;">
  								<p>{{ profile_form.as_p }}</p>
  								<div class="line"></div>
  								<a href="#" class="button button-3d nomargin tab-linker" rel="1">Previous</a>
  								<a href="#" class="button button-3d nomargin fright tab-linker" rel="3">Next</a>
  							</div>

  							<div id="ptab3" aria-labelledby="ui-id-3" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content" aria-hidden="true" style="display: none;">
  								<p>Click on submit for approval button and our team will get right on it. We should get back to you within 24 hours.</p>
  								<div class="line"></div>
  								<a href="#" class="button button-3d nomargin tab-linker" rel="2">Previous</a>
                  <input class="button button-3d nomargin fright tab-linker" type="submit" rel="4" value="Submit for Approval" >
  								<a href="#" class="button button-3d nomargin fright tab-linker" rel="4">Complete Order</a>
  							</div>

  							<div id="ptab4" aria-labelledby="ui-id-4" role="tabpanel" class="ui-tabs-panel ui-corner-bottom ui-widget-content" aria-hidden="true" style="display: none;">
  								<div class="alert alert-success">
  									<strong>Thank You.</strong> Your profile will be processed shortly.
  								</div>
  							</div>
            </form>
          {% endif %}
				</div>
			</div>
		</section>
{% endblock %}

<!-- <div class="container">
  <div class="jumbotron">
    {% if registered %}
      <h1>Thank you for registering!</h1>
    {% else %}
      <h1>Vendor Registration Form</h1>
      <h3>Kindly fill out your vendor registration form and submit for approval.</h3>

      <form enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="" value="Submit for Approval">
      </form>
    {% endif %}
  </div>

</div> -->
