{% extends "home.html" %}
{% load bootstrap3 %}
{% block home %}

{% for approved in approvedstatus %}
{% if approved.approved == True %}
  <center>
    <h5>Authorized Vendor</h5>
    <Congratulations. Your profile was approved. You can now quote to potential customers.
  </center>

{% else %}
  <div class="">
    <center>Your Vendor Profile is awaiting approval. We will update you via your email shortly.</center>
  </div>
{% endif %}

{% empty %}
  <div>
    <center>
      <u><a href="{% url 'accounts:vendorprofile' %}">
      To become an authorized vendor you have to fill in a vendor profile form. Click here to fill out one now and you'll be able to send out quotations to potential customers.</a></u>
    </center>
  </div>
{% endfor %}
{% endblock %}
